
@(languagForm: Form[Language])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@main("Welcome to Play 2.0") {
    
    <h1>Add a Languag</h1>
    
    @form(routes.LanguageController.save()) {
        
        <fieldset>
          
            @inputText(languagForm("languageId"), '_label -> "LanguageId")
          
            @inputText(languagForm("name"), '_label -> "Name")
           

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this Languag" class="btn primary"> or 
            <a href="@routes.LanguageController.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
}
