

@(pk: Int, languagForm: Form[Language])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("Welcome to Play 2.0") {
    
    <h1>Edit Languag</h1>
    
    @form(routes.LanguageController.update(pk)) {
    
        <fieldset>
          
            @inputText(languagForm("languageId"), '_label -> "LanguageId")
          
            @inputText(languagForm("name"), '_label -> "Name")
           

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this Languag" class="btn primary"> or 
            <a href="@routes.LanguageController.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.LanguageController.delete(pk), 'class -> "topRight") {
        <input type="submit" value="Delete this Languag" class="btn danger">
    }
    
}
